.main__content {
  grid-area: main;
}

.main {
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 7fr 1fr;
  grid-template-columns: 2fr 8fr;
  grid-template-areas:
    'header header header'
    'sidebar main main '
    'footer footer footer';
}

.main > * {
  border: 1px solid black;
}
